/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR BASE */
.navbar {
  background: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.nav-inner {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  height: 55px;
  display: block;
}

/* MENU */
.menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.menu li a {
  color: #222;
  text-decoration: none;
  font-weight: 500;
}


.menu li a:hover {
  color: #ff9900;
}

body {
  background: #f5f6fa;
}


/* Main Content */
.container {
  padding: 20px 40px;
  background: transparent;
}


/* PROJECT CARD */
.project {
  display: flex;
  gap: 20px;
  background: white;
  padding: 18px;
  margin-bottom: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  text-decoration: none;
  list-style: none;
}

.project:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.15);
}


.project img {
  width: 300px;
  height: auto;
  border-radius: 12px;
}

.project:first-child {
  margin-top: 0;
}

.project a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:focus {
  outline: none;
}

/* Footer */
.footer {
  background: #111;
  height: 70px;
  display: flex;
}

.footer-inner {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #aaa;
  font-size: 14px;
}


/* Footer text hover (optional) */
.footer-inner span:hover {
  color: #ff9900;
}

/* for mobile */

@media (max-width: 600px) {

  .navbar {
    height: 60px;
  }

  .nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 36px;
  }

  .menu {
    display: flex;
    gap: 12px;
    padding-right: 20px;
  }

  .menu li a {
    font-size: 14px;
  }

  .container {
    padding: 25px;
  }

  .project {
    flex-direction: column;
    text-align: center;
  }

  .project:hover {
  transform: none;
  }
  .project img {
    width: 100%;
    max-width: 320px;
  }

  .footer-inner {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

}
